<% include navbar %>
<form action = <%= package ? '/package/edit/' + package.id: '/package/add_new_package' %> method="post" 
    enctype="multipart/form-data"> 

  <div class="columns is-vcentered">

    <div class="column is-one-quarter">
      <div class="field ">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name = "packageName" placeholder="Text input" 
            value = "<%= package ? package.packageName : '' %>" >

          </div>
        </div>
          
        <div class="field">
          <label class="label">Small description</label>
          <div class="control ">
            <input class="input" type="text" placeholder="1-2 sentences" name="generalDescription" 
            value="<%= package ? package.generalDescription : '' %>">
          
          </div>
        </div>

        <div class="field">
          <label class="label">Duration in hours</label>
          <div class="control ">
            <input class="input" type="text" placeholder="1-2 sentences" name="duration" 
            value="<%= package ? package.duration : '' %>">
          </div>
        </div>


        <div class="text">
          <label class="label">Detailed description</label>
          <div class="control ">
            <textarea class="textarea" type="text" placeholder="Full description" name="detailedDescription" 
            value=""><%= package ? package.detailedDescription : '' %></textarea>
          </div>
        </div>


        <div class="field">
          <label class="label">Price per person</label>
          <div class="control ">
            <input class="input" type="text" placeholder="Price in GEL" name="pricePerPerson" value="<%= package ? package.pricePerPerson : '' %>">
          </div>
        </div>

    </div>
    
    <div class="column is-one-quarter RU">
        <div class="field ">
            <label class="label">Name [Russian]</label>
            <div class="control">
              <input class="input" type="text" name = "packageNameRU" placeholder="Text input" 
              value = "<%= package ? package.packageNameRU : '' %>" >

            </div>
          </div>
            
          <div class="field">
            <label class="label">Small description [RUSSIAN]</label>
            <div class="control ">
              <input class="input" type="text" placeholder="1-2 sentences" name="generalDescriptionRU" 
              value="<%= package ? package.generalDescriptionRU : '' %>">
            
            </div>
          </div>

          <div class="field">
            <label class="label">Duration in hours</label>
            <div class="control ">
              <input class="input" type="text" placeholder="1-2 sentences" name="durationRU" 
              value="<%= package ? package.durationRU : '' %>">
            </div>
          </div>


          <div class="text">
            <label class="label">Detailed description [RUSSIAN]</label>
            <div class="control ">
              <textarea class="textarea" type="text" placeholder="Full description" name="detailedDescriptionRU" 
              value=""><%= package ? package.detailedDescriptionRU : '' %></textarea>
            </div>
          </div>


    

    <br>
          
         
      </div>

      <div class="column is-one-quarter GE">
        <div class="field ">
            <label class="label">Name [Georgian]</label>
            <div class="control">
              <input class="input" type="text" name = "packageNameGE" placeholder="Text input" 
              value = "<%= package ? package.packageNameGE : '' %>" >

            </div>
          </div>
            
          <div class="field">
            <label class="label">Small description [Georgian]</label>
            <div class="control ">
              <input class="input" type="text" placeholder="1-2 sentences" name="generalDescriptionGE" 
              value="<%= package ? package.generalDescriptionGE : '' %>">
            
            </div>
          </div>

          <div class="field">
            <label class="label">Duration in hours [Georgian]</label>
            <div class="control ">
              <input class="input" type="text" placeholder="1-2 sentences" name="durationGE" 
              value="<%= package ? package.durationGE : '' %>">
            </div>
          </div>


          <div class="text">
            <label class="label">Detailed description [Georgian]</label>
            <div class="control ">
              <textarea class="textarea" type="text" placeholder="Full description" name="detailedDescriptionGE" 
              value=""><%= package ? package.detailedDescriptionGE : '' %></textarea>
            </div>
          </div>

          <br>
          <div class="field is-grouped  ">
            <div class="control ">
              <button class="button is-link"  type="submit"><%= t('Submit') %></button>
              <button class="button is-link is-light"><%= t('Cancel') %></button>
            </div>
          </div>
      </div>
      <div class="column is-one-quarter ">
        <span class="file-label">
          Choose photos 
        </span>
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">
        <input class="" type="file" name="packageCoverPhoto">

        </form>
      </div>
</div>

<% if (package){
  package.packagePhotos.forEach((packagePhoto, index) =>{
%>
<div class="media-center" id="div-<%= index %>">
  <figure class="image is-128x128 ">
  <img src="/<%= packagePhoto %>" class="author-image" alt="Placeholder image">
  <button class="delete-photo" packageId = "<%= package.id %>"  photoIndex="<%= index %>">Delete</button>
  </figure>
</div>

<%
});
} %> 



  <script>
    $(".delete-photo").click(function(){
      var buttonClicked = $(this);
      var indexOfPhoto = $(this).attr('photoIndex');
      var packageId = $(this).attr('packageId');
      console.log(indexOfPhoto +" --- " + packageId);
      console.log("#div-"+indexOfPhoto);
      console.log($("#div-"+indexOfPhoto));
      
          $.ajax({
            type: "POST",
            url: '/package/delete_photo_post',
            data: {indexOfPhoto: indexOfPhoto, packageId : packageId},
            success: function(success){
              $("#div-"+indexOfPhoto).remove();
                console.log("movedii");
            },
            error: function(err){
                console.log(err);
            }
          })

    });
      
    </script>

  <% include footer %>
