<% include navbar %>
<section class="hero is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          <%= t('Exclusive services and offers') %>
        </p>
        <p class="subtitle">
          <%= t('contact_host_if_interested_in_offer') %>
        </p>
      </div>
    </div>
  </section>
<br>
  <section class="container">
    
    <% packages.forEach((package , index)=> {
        if( (index)%3 == 0){  %>
        <div class="columns features">
            <% }%>
    
                <div class="column is-4 modal-button" data-target="modal-card">
                    <div class="card is-shady">
                        <div class="card-image">
                          
                            <figure class="image is-4by3">
                                <img src="<%= '../'+package.packagePhotos[0] %>" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content is-overlay">
                          <span class="tag is-info is-medium is-pulled-right"><%= package.pricePerPerson %> GEL</span>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>
                                    <%= language =='ru' ? package.packageNameRU : package.packageName %>
                                </h4>
                                <p>
                                    <%= language =='ru' ? package.generalDescriptionRU : package.generalDescription %>
                                </p>
                                <a href='package/<%= package.id %>'><span class="button is-link modal-button is-success"><%= t('View more') %></span></a>
                                <% if (!user) {%>
                                <a href='package/edit/<%= package.id %>'><span class="button is-link is-warning" package-id="<%= package.id %>" >Edit</span></a>
                                <span class="button delete-button is-link is-danger" package-id="<%= package.id %>" >delete</span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            
        <% if( (index+1)%3 == 0){ %>
            </div> 
        <% }%>
    
     <% }); %>

  </section>
  <% include footer %>
<script>
$('.delete-button').click(function(){
  let packageId = $(this).attr('package-id');
  console.log(packageId);

  $.ajax({
        url: "/package/delete",
        data: {packageId: packageId},
        method: 'post',
        success: function (result, status, xhr) {
          location.reload();
        }
    });

})  
</script>