<% include head %>
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/butler_logo.png"  width="50" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <%= t('Home') %>
        </a>
        <a class="navbar-item" href="/questions">
          <%= t('FAQ') %>
        </a>
        <% if (user) {%>
        <a class="navbar-item" href="/package/add_new_package">
          <%= t('Add package') %> 
        </a>
        <% }%>
        </div>


        <div class="navbar-item has-dropdown is-hoverable language-dropdown">
          <a class="navbar-link">
            <%= t('Language') %>
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="?lng=en">
              EN
            </a>
            <a class="navbar-item" href="?lng=ge">
              ქართული
            </a>
            <a class="navbar-item" href="?lng=ru">
              RU
            </a>
            </div>
        </div>
  

      </div>
  


      
<%/* %>
      <% if (!user) {%>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/users/register">
              <strong><%= t('Sign up') %></strong>
            </a>
            <a class="button is-light" href="/users/login">
              <%= t('Log in') %>
            </a>
          </div>
        </div>
      </div>
      <% } else {%>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" href="/users/logout">
                Log out
              </a>
            </div>
          </div>
        </div>
        <% } %>
<% */ %>

<% if(user){ %>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" href="/users/logout">
          Log out
        </a>
      </div>
    </div>
  </div>
  <% } %>

    </div>
  </nav>

  <script>
$(document).ready(function () {
    $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
    });
   // just control the "is-action" class for the drop down menu, and use the above css to control this display
    $(".navbar-item.has-dropdown")
        .click(function () {
            $(this).children(".navbar-dropdown").toggleClass("is-active");
        });
});
  </script>