<% include navbar %>
    <section class="section ">
			<div class="container">
				<!-- Start Carousel -->
				<div id="carousel-demo" class="carousel">

                    <% for (let i =0; i<package.packagePhotos.length; i++) { %> 
					<div class="item-1" >
                        <figure class="image is-3by1 is-covered">
						    <img src="<%= `../`+package.packagePhotos[i] %>" />
                        </figure>
					</div>
                    <% } %> 
				</div>
				<!-- End Carousel -->
			</div>
		</section>

    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <figure class="image is-128x128 ">
                                <img src="<%= `../`+package.packagePhotos[0] %>" class="author-image" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title"><%= language =='ru' ? package.packageNameRU : package.packageName %></p>
                                <p class="subtitle is-6 article-subtitle">
                                    <%= language =='ru' ? package.generalDescriptionRU : package.generalDescription %>
                                </p>
                            </div>
                        </div>
                        <div class="content article-body" style="white-space: pre-line">

                            <%= language =='ru' ? package.detailedDescriptionRU : package.detailedDescription %>

                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
               
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
        <script>
           // Initialize all div with carousel class
            mixpanel.track('Package details visited', {
                'Package name': $('.article-title').text(),
            });
            var carousels = bulmaCarousel.attach('.carousel', {infinite: true});

            // Loop on each carousel initialized
            for(var i = 0; i < carousels.length; i++) {
                // Add listener to  event
                carousels[i].on('before:show', state => {
                    console.log(state);
                });
            }

            // Access to bulmaCarousel instance of an element
            var element = document.querySelector('#carousel-demo');
            if (element && element.bulmaCarousel) {
                // bulmaCarousel instance is available as element.bulmaCarousel
                element.bulmaCarousel.on('before-show', function(state) {
                    console.log(state);
                });
            }


            //removes initial line break from the article body
            document.addEventListener('DOMContentLoaded', function(e){
            var preElements = document.querySelectorAll('.article-body');
            
            Array.prototype.forEach.call(preElements, function( pre ){
                pre.textContent = pre.textContent.replace(/^\s+/, '');
            });
            });
            </script>

<% include footer %>






