
  <% include navbar %>

<div class="hero">
    <div class="hero-body">
        <strong><%= t("public_transport_question") %> 🧐</strong>
        <p>
            <%= t("public_transport_answer") %> 🚕
        </p>
        <br>
        <strong><%= t("public_transport_price_question") %> 💰</strong>
        <p>
            <%= t("public_transport_price_answer") %> 🪙
        </p>
        <br>
        <strong><%= t("eat_outside_price_question") %> 🍽</strong>
        <p>
            <%= t("eat_outside_price_answer") %> 😃
        </p>

    </div>
</div>
  
    <% include footer %>